.contact {
  max-width: 500px;

  header {
    width: 100%;
  }

  .logo-contact {
    h1 {
      font-size: 3.8rem;
      left: 20px;
      bottom: 30px;
    }
    
    img {
      width: 100vw;
    }
  }

  h2 {
    align-self: flex-start;
    margin: 50px 0px 70px 20px;
    font-size: 2.7rem;
    font-weight: bold;
  }

  .contact-main {
    padding: 0 20px;

    form {
      position: relative;
      .contact-item {
        font-size: 1.3rem;
        border: 2px solid red;
        height: 50px;
        padding: 100px;
      }

      .email {
        font-size: 1.3rem;
        width: 100%;
        border-radius: 5px;
        opacity: 0.8;
        border: 1px solid @black;
        text-decoration: none;
      }

      .subscript {
        font-size: 1.2rem;
        opacity: 0.8;
        margin-bottom: 20px;
      }
    }
  }
}